@import '../../App.scss';

main {
	width: 100%;
	min-height: 100vh;
	background-color: white;
}

.map__section{
    padding: 350px 0;
	h3{	
		@include flex(center, center, row);	
		font-family: "autography";
		font-size: 5em;
		font-weight: 100;
		text-align: center;
	}
}