@import '../../App.scss';

header {
	@include flex(center, center, row);
	height: 60px;
	width: 100%;
	position: absolute;
	top: 100px;
	background-color: transparent;

	nav {
		height: 100%;
	}

	ul {
		@include flex(center, center, row);
		height: 100%;
		// background-color: green;
		grid-gap: 20px;
		list-style: none;

		li {
			@include flex(center, center, row);
			height: 100%;
			min-width: 12vw;
			color: white;
			cursor: pointer;
			transition: all 0.2s ease;
			&:hover {
				background-color: white;
				color: black;
			}
		}
	}
}
