@import './media';

$yellow: #ffed00;
$transparentBlack: rgba(0, 0, 0, 0.7);

@mixin flex($justify, $align, $direction) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

* {
	margin: 0;
	padding: 0;
}
